@font-face {
  font-family: 'robotobold';
  src: url("roboto-bold-webfont.woff2") format("woff2"), url("roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("roboto-italic-webfont.woff2") format("woff2"), url("roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.link {
  text-decoration: none;
  color: #f7f2f2;
  font-weight: 700;
  font-size: 18px;
  display: block;
  width: 320px;
  height: 213px;
  margin: 0 10px 10px 0;
  background-position: center;
  background-position: unset;
  background-size: cover;
}

.link:hover {
  color: #ec5d10;
}

.header__contact, .footer__contacts-mail {
  text-decoration: none;
  color: #000;
}

.body {
  font-family: 'roboto', 'sans-serif';
  font-weight: normal;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.header__logo {
  display: flex;
  justify-content: flex-end;
}

.logo__title {
  font-size: 16px;
  margin-left: 5px;
  display: flex;
  align-self: center;
}

.main_semester__download-link1 {
  background-image: url("../images/business-pc.jpg");
}

.main_semester__download-link2 {
  background-image: url("../images/keyboard.jpg");
}

.main_semester__download-link3 {
  background-image: url("../images/server.jpg");
}

.main_semester__download-link4 {
  background-image: url("../images/motherboard.jpg");
}

.main_semester__download-link5 {
  background-image: url("../images/key-black.jpg");
}

.main_semester__download-link6 {
  background-image: url("../images/programming.jpg");
}

.main_semester__download-link7 {
  background-image: url("../images/prog-text.jpg");
}

.main_semester__download-link8 {
  background-image: url("../images/monitor.jpg");
}

.main_semester__download {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  display: none;
}
