@import 'fonts';

.body {
    font-family: 'roboto', 'sans-serif';
    font-weight: normal;
    font-size: 12px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

/*Header*/

.header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header__logo {
    display: flex;
    justify-content: flex-end;
}

.logo__title {
    font-size: 16px;
    margin-left: 5px;
    display: flex;
    align-self: center;
}

/*Main*/

.main {
    padding-top: 20px;
}

.main__choose_semester {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main__choose_semester-img {
    width: 320px;
    height: 213px;
    background-image: url(../images/laptop.jpg);
    background-position: center;
    background-position: unset;
    background-size: cover;
}

.main__choose_semester-variant {
    height: 213px;
    margin-left: 10px;
    border-left: 3px solid #000;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__choose_semester-link {
    font-size: 24px;
    &:first-child {
        margin-bottom: 10px;
    }
    &:hover {
        color: #ec5d10;
    }
}

/*Footer*/

.footer {
    padding: 1%;
    display: none;
}